*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "TT Lakes";
    font-size: 16px;
}

.dropMenu .button{
    border: none;
    background: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.dropMenu .button:hover{
     cursor: pointer;
    transform: scale(1.1);
    background-color: #41F6D7;
    transition: all .2s;
}

.dropMenu{
    width: 320px;
    height: 100vh;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 40px grey;
    padding-top: 18px;
    padding-left: 24px;
}

.dropMenu__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
}

.dropMenu__header .button__burger{
    background: url("img/burger.svg") no-repeat center center #FF3E79;
}

.dropMenu__header .button__search{
    background: url("img/search.svg") no-repeat center center #FF3E79;
    margin-right: 0;
}

.dropMenu__burger{
    display: flex;
    align-items: center;
}

.dropMenu__burger img{
    margin-right: 17px;
}

.dropMenu__burger:last-child{
    margin-right: 0;
}

.dropMenu__search{
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.navigation__list{
    list-style: none;
    font-weight: 500;
}

.navigation__list .navigation__item{
    margin: 0 0 32px 0;
    cursor: pointer;
}

.navigation__list .navigation__item:hover{
    position: relative;
    color: #7E7E82;
    transition: color 300ms;
}

.navigation__list .navigation__item:before{
    content: '';
    width: 1px;
    height: 32px;
    border-right: solid 4px #41F6D7;
    border-radius: 3px;
    position: absolute;
    top: -5px;
    left: -25px;
    opacity: 0;
}

.navigation__list .navigation__item:hover:before{
    content: '';
    width: 1px;
    height: 32px;
    border-right: solid 4px #41F6D7;
    border-radius: 3px;
    position: absolute;
    top: -5px;
    left: -25px;
    opacity: 1;
    transition: opacity 300ms;
}

.navigation__item--active{
    cursor: pointer;
    margin: 0 0 32px 0;
    position: relative;
    color: #7E7E82;
}

.navigation__list .navigation__item--active:before{
    content: '';
    width: 1px;
    height: 32px;
    border-right: solid 4px #41F6D7;
    border-radius: 3px;
    position: absolute;
    top: -5px;
    left: -25px;
    opacity: 1;
}

.dropMenu__footer{
    margin-bottom: 32px;
}

.info__services{
    margin-bottom: 16px;
}

.info__services:last-child{
    margin-right: 0;
}

.info__services .button__profile{
    background: url("img/profile.svg") no-repeat center center #FF3E79;
    margin-right: 0;
}

.info__services .button__chat{
    background: url("img/chat.svg") no-repeat center center #FF3E79;
}

.info__services .button__tel {
    background: url("img/tel.svg") no-repeat center center #FF3E79;
}

.info__mail{
    margin-bottom:12px;
    display: block;
    color: black;
    text-decoration: none;
}

.info__phone{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom:40px;
    display: block;
    color: black;
    text-decoration: none;
}

.info__languages{
    display: flex;
    font-weight: 600;
}

.info__languages .language{
    margin-right: 7px;
    cursor: pointer;
}

.info__languages .language:hover{
    margin-right: 7px;
    cursor: pointer;
    color: #7E7E82;
}

.info__languages:last-child{
    margin-right: 0;
}

.language--active{
    color: #7E7E82;
}




